.gridlightContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0;
  grid-auto-rows: calc(50vh / 3);
}

.gridlightContainer div {
  background-color: white;
}

.gridlightContainer .activated {
  background: lightgreen;
}
